<!--
  Generated template for the QuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{quoteCollectionSelected?.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteCollectionSelected?.quotes; let i =index">
    <ion-card-header>#{{i + 1}}</ion-card-header>
    <ion-card-content>
      <p>{{quote.text}}</p>
      <p class="author">{{quote.person}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <div *ngIf="quote.isFavorite;then unFavorite else Favorite"></div>

        <ng-template #Favorite>
          <button
            ion-button clear small
            (click)="confirmFavoriteAlert(quote)"
          >Favorite</button>
        </ng-template>

        <ng-template #unFavorite>
          <button
            ion-button clear small color="danger"
            (click)="confirmUnFavoriteAlert(quote)"
          >Unfavorite</button>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
